/* START: Task 1 Styles */
#task1 {
    width: 500px;
    height: 500px;
    padding-bottom: 50px;
}

#tbl {
    width: 100%;
    height: 100%;

    text-align: center;
    vertical-align: center;
}

td {
    width: 33%;
    border: 3px black solid;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
    width: 500px;
    padding-bottom: 50px;
}

form {
    display: flex;
}

#msg {
    min-width: 100%;
    height: 50px;
    margin-bottom: 10px;

    color: white;
    text-align: center;
    vertical-align: center;

    background-color: #2196f3;
    border: #1976d2 solid 3px;
}

#phone {
    width: 100%;
    height: 30px;
    margin-right: 10px;

    color: black;

    background-color: white;
    border: black solid 3px;
}
#phone:focus {
    outline-width: 0;
}

#submit {
    border: black solid 3px;
}
/* END: Task 2 Styles */


/* START: Task 3 Styles */

/* END: Task 3 Styles */
